<!-- banner -->
<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
          data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav nav_1">
          <li><a href="products">Thương hiệu thực phẩm</a></li>
          <li><a href="household">Đồ gia dụng</a></li>
          <li class="dropdown mega-dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rau và Trái cây<span class="caret"></span></a>
            <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
              <div class="w3ls_vegetables">
                <ul>
                  <li><a href="vegetables">Rau củ</a></li>
                  <li><a href="vegetables">Trái cây</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="kitchen">Nhà bếp</a></li>
          <li><a href="code">Short Codes</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Đồ uốngs<span class="caret"></span></a>
            <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
              <div class="w3ls_vegetables">
                <ul>
                  <li><a href="drinks">Soft Drinks</a></li>
                  <li><a href="drinks">Nước ép</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="pet">Thực phẩm thú cưng</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thức phẩm lạnh<span class="caret"></span></a>
            <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
              <div class="w3ls_vegetables">
                <ul>
                  <li><a href="frozen">Snacks để lạnh</a></li>
                  <li><a href="frozen">Frozen Nonveg</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="bread">Bánh mì và Store</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>

  <div class="wthree_banner_bottom_left_grid_sub">
  </div>
  <div class="wthree_banner_bottom_left_grid_sub1">
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img src="images/4.jpg" alt=" " class="img-responsive" />
        <div class="wthree_banner_bottom_left_grid_pos">
          <h4>Discount Offer <span>25%</span></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img src="images/5.jpg" alt=" " class="img-responsive" />
        <div class="wthree_banner_btm_pos">
          <h3>introducing <span>best Store</span> for <i>groceries</i></h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img src="images/6.jpg" alt=" " class="img-responsive" />
        <div class="wthree_banner_btm_pos1">
          <h3>Save <span>Upto</span> $10</h3>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="clearfix"></div>
<!-- banner -->