<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 70px 0 0;">
                <a href="admin" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Tổng quan</a>
            </li>
            <li>
                <a href="adminprofile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Thông tin cá nhân</a>
            </li>
            <li>
                <a href="adminusers" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Danh sách tài khoản</a>
            </li>
            <li>
                <a href="adminproducts" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Danh sách sản phẩm</a>
            </li>
        </ul>
        <div class="center p-20">
            <a href="index" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Cửa hàng</a>
        </div>
    </div>

</div>